@page "{id:Guid}"
@model WebUI.Pages.OrganisationAdmin.CheckOrganisationDetailAnswersModel
@{
}

<div class="govuk-width-container">
  <a asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your organisation details are correct</h1>

        <h2 class="govuk-heading-m">Organisation</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.Organisation.Name
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.Organisation.Description
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Logo Url
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.Organisation.LogoUrl
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> logourl</span>
              </a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Logo Alt Text
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.Organisation.LogoAltText
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> logourl</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact Name
            </dt>
            <dd class="govuk-summary-list__value">
            @if (@Model.Organisation.Contact != null)
            {
                @Model.Organisation.Contact.Name                  
            }
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> contact-name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact Email
            </dt>
            <dd class="govuk-summary-list__value">
            @if (@Model.Organisation.Contact != null)
            {
                @Model.Organisation.Contact.Email                  
            }
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> contact-email</span>
              </a>
            </dd>
          </div>
         
        </dl>

        <a asp-page="/OrganisationAdmin/ListOrganisations" class="govuk-button" data-module="govuk-button">Back to Organisations</a>

        @*<h2 class="govuk-heading-m">Application details</h2>*@

       @* <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous application number
            </dt>
            <dd class="govuk-summary-list__value">
              502135326
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence type
            </dt>
            <dd class="govuk-summary-list__value">
              For personal use
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence period
            </dt>
            <dd class="govuk-summary-list__value">
              Valid for 6 months
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" asp-page="/OrganisationAdmin/OrganisationDetail" asp-route-id="@Model.Organisation.Id">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        </dl>*@

       @* <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>

        </form>*@

      </div>
    </div>
  </main>
</div>
