@page "{id:Guid}"
@model WebUI.Pages.LocalOfferDetailModel
@{
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-m">Your Selection</h1>
        <hr/>

        <div>
            <ul class="no-bullets">
                <li><label><span style="color:blue" class="govuk-!-font-weight-bold govuk-body govuk-!-font-size-19">@Model.LocalOffer.Name</span></label></li>
                <li>@Model.LocalOffer.Description</li>
                <li><label>Minimum Age:  </label>@Model.LocalOffer.MinimumAge</li>
                <li><label>Minimum Age:  </label>@Model.LocalOffer.MaximumAge</li>
                <li><label>Cost:         </label>@Model.LocalOffer.CostAmount</li>
                <li><label>OpeningHours: </label>@Model.LocalOffer.OpeningHours</li>
            </ul>

            <br />
            @if(@Model.LocalOffer.Contact != null)
            {
                <h1 class="govuk-heading-s">Adddress:</h1>   
                <ul class="no-bullets">
                <li><label>Name: </label>@Model.LocalOffer.Contact.Name</li>
                <li>@Model.LocalOffer.Contact.AddressLine1</li>
                <li>@Model.LocalOffer.Contact.AddressLine2</li>
                <li>@Model.LocalOffer.Contact.TownOrCity</li>
                <li>@Model.LocalOffer.Contact.County</li>
                <li>@Model.LocalOffer.Contact.Postcode</li>
                </ul>
                    
            }

            @if (@Model.LocalOffer.ServiceClassifications != null && @Model.LocalOffer.ServiceClassifications.Any())
            {
                <h3>Support For:</h3>
                <ul class="no-bullets">
                @foreach(var item in @Model.LocalOffer.ServiceClassifications)
                {
                    <li>@item.Classification.Name</li>
                }
                </ul>
            }
        </div>

    </div>
</main>