@page "{latitude:double}/{longitude:double}"
@model WebUI.Pages.LocalOfferResultsModel
@{
}

<a asp-page="/FindServiceFromPostcode" class="govuk-back-link">Back</a>


<div class="govuk-grid-row">
    <div class="govuk-grid-row">
	    
        
	    <h1 class="govuk-heading-l">There are @Model.SearchResults.TotalCount results found in your local area</h1>
	    @*<p class="govuk-body">Find a Service will help you to find the best service to meet your needs from the full list of services that are available in your area.</p>*@

		<table>
          <tr>
            <td>
                <form method="post">
                
                    <fieldset class="govuk-fieldset">
                        <h1 class="govuk-heading-m">
                            Filter By
                        </h1>
                        <input asp-for="@Model.CurrentLatitude" type="hidden" >
                        <input asp-for="@Model.CurrentLongitude" type="hidden">

                        <div class="govuk-form-group">
                        <label class="govuk-label" for="SelectedDistance">
                            Waiting List
                        </label>
                        <select class="govuk-select" id="Cost" name="SelectedDistance" asp-for="SelectedDistance" asp-items="Model.DistanceSelectionList"></select> 
                        </div>
                      

                    </fieldset>

                     <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                        Filter
                    </button>

                </form>
            </td>
            <td> 
                <h1 class="govuk-heading-m">
                          Services
                </h1>
                @foreach(var item in Model.SearchResults.Items)
                {
                    <ul class="no-bullets">
                        <li><a asp-page="/LocalOfferDetail" asp-route-id="@item.Id" class="govuk-heading-s">@item.Name</a></li>
                        <li>@item.Description</li>
                    </ul>
                            
                }
            </td>
          </tr>
        </table>
	   
    </div>
</div>
